<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrafece.do_sport.mapper.AdminMapper">

	<select id="allAdminList" resultType="admin">
        select *
        from do_sport.admin
    </select>

	<select id="queryForLogin" parameterType="string" resultType="admin">
        select *
        from do_sport.admin
        where username = #{username}
          and password = #{password};
    </select>

	<select id="queryLevel" parameterType="admin" resultType="string">
        select level
        from do_sport.admin
        where username = #{username};
    </select>

	<insert id="addAdmin" parameterType="admin">
        insert into do_sport.admin (username, password, level)
        values (#{username}, #{password}, #{level})
    </insert>

	<insert id="addAdminWithDefault" parameterType="admin">
        insert into do_sport.admin (username, level)
        values (#{username}, #{level})
    </insert>

	<select id="queryAdminByUsername" parameterType="string" resultType="admin">
        select *
        from do_sport.admin
        where username = #{username}
    </select>

	<delete id="deleteAdmin" parameterType="admin">
        delete
        from do_sport.admin
        where username = #{username}
    </delete>

	<delete id="deleteAdminById" parameterType="int">
        delete
        from do_sport.admin
        where id = #{id}
    </delete>

</mapper>