<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrafece.do_sport.mapper.KeepRecordMapper">

	<insert id="addKeepRecord" parameterType="FitnessRecord">
        insert into do_sport.fitness_record (wx_id, fitness_time)
        values (#{wx_id}, #{fitness_time})
    </insert>

	<delete id="deleteKeepRecord" parameterType="FitnessRecord">
        delete from do_sport.fitness_record where wx_id = #{wx_id}
    </delete>

	<update id="updateKeepRecord" parameterType="FitnessRecord">
        update do_sport.fitness_record
        set fitness_time = #{fitness_time}
        where wx_id = #{wx_id}
    </update>

	<select id="allKeepRecordList" resultType="FitnessRecord">
        select id, wx_id, fitness_time from do_sport.fitness_record
    </select>

	<select id="todayKeepRecord" resultType="int">
        select count(*) from do_sport.fitness_record where to_days(fitness_time) = to_days(now());
    </select>

	<select id="monthKeepRecord" resultType="int">
        select count(*) from do_sport.fitness_record where date_format(fitness_time, '%Y%m') = date_format(curdate(), '%Y%m');
    </select>

</mapper>