<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrafece.do_sport.mapper.MemberMapper">

	<insert id="addMember" parameterType="Member">
        insert into do_sport.member (wx_id, wx_avatar, wx_nickName, wx_gender, card_expireTime)
        values (#{wx_id}, #{wx_avatar}, #{wx_nickName}, #{wx_gender}, #{card_expireTime})
    </insert>

	<delete id="deleteMember" parameterType="Member">
        delete
        from do_sport.member
        where wx_id = #{wx_id}
    </delete>

	<update id="updateMember" parameterType="Member">
        update do_sport.member
        set wx_avatar   = #{wx_avatar},
            wx_nickName = #{wx_nickName},
            wx_gender   = #{wx_gender}
        where wx_id = #{wx_id}
    </update>

	<select id="allMemberList" resultType="Member">
        select *
        from do_sport.member
    </select>

	<select id="allMemberNum" resultType="int">
        select count(*)
        from do_sport.member
    </select>

	<select id="memberNumByGender" parameterType="int" resultType="int">
        select count(*)
        from do_sport.member
        where wx_gender = #{gender};
    </select>

	<select id="memberList" parameterType="int" resultType="member">
        select * from do_sport.member order by id desc limit #{startIndex}, #{pageSize};
    </select>

	<select id="lastMember" resultType="member">
        select *
        from do_sport.member order by id limit 1;
    </select>

	<delete id="deleteMemberNById" parameterType="int">
        delete from do_sport.member where id = #{id}
    </delete>

	<select id="getMemberById" parameterType="int" resultType="member">
        select * from do_sport.member where id = #{id}
    </select>

	<select id="getMemberByWxId" parameterType="string" resultType="member">
        select * from do_sport.member where wx_id = #{wxId}
    </select>
</mapper>