*{margin:0;padding:0;font-family:"Microsoft YaHei";}html,body{height:100%;}
.left{
	float:left;
	width:30%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}
.right{
	float:right;
	width:70%;
	height:100%;
	box-shadow: 0px 0px 30px 2px #666;
	top:0;
	left:30%;
	z-index:2;
}
.imgBox{
	width:150px;
	height:150px;
	margin:0 auto;
	margin-top:60px;
}
.userImg{
	border-radius :50%;
	width:150px;
	height:150px;
	margin:0 auto;
}
.nickName{
	font-size:28px;
	width:100%;
	line-height:60px;
	text-align:center;
}

.chooseText{
	padding-top:40px;
	padding-bottom:30px;
	font-size:32px;
	width:90%;
	margin: 0 auto;
}
.chooseBox{
	width:90%;
	margin: 0 auto;
	height:400px;
	padding-left: 5%;
}
.chooseItem{
	width:200px;
	height:100px;
	border:2px solid #DBBD87;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	border-radius :5px;
}
.itemTitle{
	line-height:57px;
	font-size:27px;
	color:#b17710;
	padding-left:9px;
	font-weight:bold;
}
.itemDay{
	width:70px;
	height:25px;
	line-height:25px;
	margin-top:15px;
	margin-right:5px;
	font-size:15px;
	float:right;
	text-align:center;
	background-color:#DBBD87;
	border-radius :20px;
	color:#FFF;
}
.itemPrice{
	font-size:24px;
	color:#FF4500;
	margin-left:3px;
}
.itemchoose{
	background-image:url(../img/choose.png);
	background-size:100% 100%;
	width:60px;
	height:60px;
	margin-top:-16px;
	margin-right:-1px;
	float:right;
}
.payBox{
	width:200px;
	height:80px;
	background: linear-gradient(to right, #FBECCF, #DBBD87);
	border-radius: 10px;
	color:#b17710;
	font-weight: bold;
	line-height: 80px;
	font-size: 25px;
	text-align: center;
	margin:0 auto;
}